<ion-content padding>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col
                size-sm="8"
                size-md="4"
                size-lg="3"
                size-xl="3"
            >
                <h1 text-center>
                    <img
                        src="./assets/imgs/tasks-logo.svg"
                        alt
                    >
                </h1>


                <form
                    [formGroup]="authForm"
                    (submit)="onSubmit(authProviders.Email)"
                >


                    <ng-container *ngIf="!configs.isSignIn">
                        <ion-item>
                            <ion-icon
                                name="person"
                                color="primary"
                                slot="start"
                            ></ion-icon>
                            <ion-input
                                type="text"
                                placeholder="Name"
                                formControlName="name"
                            ></ion-input>
                            <ion-note
                                slot="end"
                                color="danger"
                                *ngIf="name.dirty && name.hasError('required')"
                            >
                                Requried
                            </ion-note>
                            <ion-note
                                slot="end"
                                color="danger"
                                *ngIf="name.dirty && name.hasError('minlength')"
                            >
                                Min. 3 Charaters
                            </ion-note>
                        </ion-item>
                    </ng-container>


                    <ion-item>
                        <ion-icon
                            name="mail"
                            color="primary"
                            slot="start"
                        ></ion-icon>
                        <ion-input
                            type="email"
                            placeholder="Email"
                            inputmode="email"
                            formControlName="email"
                            autofocus="true"
                        ></ion-input>
                        <ion-note
                            slot="end"
                            color="danger"
                            *ngIf="email.dirty && email.hasError('required')"
                        >
                            Requried
                        </ion-note>
                        <ion-note
                            slot="end"
                            color="danger"
                            *ngIf="email.dirty && email.hasError('email')"
                        >
                          Invaild E-mail
                        </ion-note>
                    </ion-item>


                    <ion-item>
                        <ion-icon
                            name="lock-closed"
                            color="primary"
                            slot="start"
                        ></ion-icon>
                        <ion-input
                            [type]="passwordType"
                            placeholder="Password"
                            formControlName="password"
                        ></ion-input>


                        <ion-note
                            slot="end"
                            color="danger"
                            *ngIf="password.dirty && password.hasError('required')"
                        >
                            Requried
                        </ion-note>
                        <ion-note
                            slot="end"
                            color="danger"
                            *ngIf="password.dirty && password.hasError('minlength')"
                        >
                            Min. 6 Characters
                        </ion-note>
                        <ion-icon
                            slot="end"
                            [name]="passwordIcon"
                            class="passwordIcon"
                            color="primary"
                            (click)='hideShowPassword()'
                        ></ion-icon>
                    </ion-item>


                    <ion-button
                        class="button-login"
                        type="submit"
                        expand="block"
                        [disabled]="authForm.invalid"
                    >
                        {{ configs.action }}
                    </ion-button>
                </form>


                <ion-button
                    expand="block"
                    fill="clear"
                    (click)="changeAuthAction()"
                >
                    {{ configs.actionChange }}
                </ion-button>
                <ion-button
                    expand="block"
                    (click)="onSubmit(authProviders.Facebook)"
                >
                    <ion-icon
                        name="logo-facebook"
                        slot="start"
                    ></ion-icon>
                    Login With Facebook
                </ion-button>
                <notifier-container></notifier-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
