<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]=taskForm (submit)="onSubmit()">
    <ion-item>
      <ion-icon name="newspaper-outline" color="primary" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Title" autofocus="true" inputmode="text" formControlName="title"></ion-input>
      <ion-toggle *ngIf="taskId" slot="end" color="primary" formControlName="done"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="reader" color="primary" slot="start"></ion-icon>
      <ion-textarea type="text" placeholder="Activity summary" autofocus="true" inputmode="text" formControlName="resume"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-icon name="reader" color="primary" slot="start"></ion-icon>
      <ion-input type="number" placeholder="Hour" autofocus="true" inputmode="number" formControlName="hour"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="reader" color="primary" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Color" autofocus="true" inputmode="text" formControlName="color"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="reader" color="primary" slot="start"></ion-icon>
      <ion-datetime placeholder="Date" ionChange="dateChange()" autofocus="true" inputmode="text" formControlName="date" min="2020" max="2030" [dayShortNames]="customDayShortNames" displayFormat="DDD. MMM DD, YY" monthShortNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-icon name="reader" color="primary" slot="start"></ion-icon>
      <ion-datetime placeholder="Time" displayFormat="h:mm A" minuteValues="0,15,30,45" formControlName="time" ></ion-datetime>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]=taskForm.invalid>
      Save
    </ion-button>


  </form>


</ion-content>
