ion-label{
    width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word !important;
    white-space: initial !important;
}

ion-icon{
    color: #000;
}
.item-native{
  background: transparent !important;
}
ion-title {
    text-transform: initial !important;
}
ion-card-content{
  padding: 5px;
}
