<ion-header>
  <ion-toolbar color="primary">
    <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>
    <ion-title slot="start">Activities list</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item lines="none" class="transparent">
    <ion-label>
      <h2 class="title">
        Today
      </h2>
      <p>
        Productive Day, Vagner
      </p>
    </ion-label>
    <ion-button slot="end" shape="round" color="success" class="ion-padding" (click)="create()">Add task</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Choose date</ion-label>
    <ion-datetime value="2020-01-01" min="2020" max="2030" [dayShortNames]="customDayShortNames" displayFormat="DDD. MMM DD, YYYY" monthShortNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec"></ion-datetime>
  </ion-item>
  <!-- <ion-item lines="none" class="transparent">
    <ion-label>
      <h3 class="month">
          April, 2020
        </h3>
    </ion-label>
  </ion-item> -->


  <ion-grid>
    <!--
    <ion-row>
      <ion-col size="1.7" class="day-week">
        <p class="day-name day-san">San</p>
        <p class="day day-san">5</p>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <p class="day-name">Mon</p>
        <p class="day">6</p>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <p class="day-name">Tue</p>
        <p class="day">7</p>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <p class="day-name">Wed</p>
        <p class="day">8</p>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <p class="day-name">Thu</p>
        <p class="day">9</p>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <p class="day-name">Fri</p>
        <p class="day">10</p>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <p class="day-name">Sat</p>
        <p class="day">11</p>
      </ion-col>
    </ion-row> -->


    <ion-row *ngFor="let hour of [6,7,8,9,10,11,12,13,14,15,16,17,18]">
      <ion-col size="2" class="hours">
        <p *ngIf="hour < 12">{{ hour }} AM</p>
        <p *ngIf="hour >= 12">{{ hour }} PM</p>
      </ion-col>
      <div style="width:100%;" *ngIf="(tasks$ | async) as tasks">
        <ng-container *ngIf="tasks.length > 0; else noTasks">
          <ion-col size="12" *ngFor="let task of tasks">
            <app-task-item *ngIf="task.hour === hour" [task]="task" (update)="onUpdate($event)" (delete)="onDelete($event)" (done)="onDone($event)"></app-task-item>
          </ion-col>
        </ng-container>
        <ng-template #noTasks>
          <ion-item lines="none">No tasks registered ...</ion-item>
        </ng-template>
      </div>
    </ion-row>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tasks-list/create" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <notifier-container></notifier-container>
</ion-content>
