ion-header {
    background: var(--ion-color-secondary);
    z-index: 0;
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.day-week {
    text-align: center;

    .day-name {
        color: var(--ion-color-medium);
    }

    .day {
        font-weight: 600;
    }
}
.month {
    font-weight: 500;
    font-size: 18px;
}

.day-san {
    color: var(--ion-color-danger) !important;
}

.item-calendar {
    padding: 8px 24px 8px 24px;
    background: aquamarine;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: -20%;
}



.item-title {
    font-weight: 600;
}

.item-description{
    font-size: 14px;
    color: #4d4d52;
}
